@tailwind base;
@tailwind components;
@tailwind utilities;
.question_container {
    width: 90%;
}

.form_register {
    /*width: 22rem;*/
    width: 30rem;
}

.my_forms {
    width: 95%;
}

.desk-active {
    @apply bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium;
}
.desk-inactive {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}

@media (min-width: 768px) {
    .question_container {
        width: 40rem;
    }
    .my_forms {
        width: 22rem;
    }
}
