@tailwind base;
@tailwind components;
@tailwind utilities;
.question_container {
    width: 90%;
}

.form_register {
    /*width: 22rem;*/
    width: 30rem;
}

.my_forms {
    width: 22rem;
}

@media (min-width: 768px) {
    .question_container {
        width: 40rem;
    }
}